.Furniture{
    height: 200px;
    background: rgb(71, 70, 70);
    text-align: center;
    color: white;
    padding-top: 70px;
}
.headBeddrom{
    margin-top: 80px;
    text-align: center;
}
.contact{
    background: rgb(71, 70, 70);
    height: auto;
    padding: 10%;
}

.info-contact{
    color: white;
    
}
.formu{
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 20px;
    padding: 2% 5%;
    margin-bottom: 25%;
}
.cont{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
}
h4{
    padding: 5% 0px;
}
.quot{
    border-radius: 5px;
    outline: none;
    height: 50px;
    margin: 5% 10%;
    width: 80%;
    background: rgb(168, 164, 164);
}
#floatingInput{
    background: rgb(168, 164, 164);
    text-align: center;
    border-radius: 5px;
    width: 80%;
    margin: 5% auto;

}
label{
    margin: auto 10%;
}
#floatingTextarea{
    width: 80%;
    height: 200px;
    border-radius: 5px;
    background: rgb(168, 164, 164);
}
.form-control{
    margin: 5% auto;
}
