.head-project{
    color: white;
    padding-top: 5%;
    text-align: center;
    height: 200px;
    background: #676767;
}
.Our-Work{
    text-align: center;
    padding: 0px 22%;
}
@media screen and (max-width:576px){
    .Project{
        width: 100%;
        padding: 0px;
    }
    .Our-Work{
        text-align: center;
        padding: 0px 3%;
    }
    .item-BENCHES{
        width: 576px;
        margin: 0%;
        padding: 0px;
    }
    .item-BENCHES .item-imge{
        width:  576px;
        margin: 0% 1%;
    }
    .txt{
        margin: 2% 2%;
        padding: 0px;
    }
    .DESKS{
        width: 576px;
        margin: 5% 1%;
        
    }
    .item-DESKS{
        width: 576px;
        padding: 0px;
        margin: 0px;
    }
    .DESKS-img{
        background-color: rgb(179, 175, 175);
        height: 250px;
        width: 576px;
        text-align: center;
        padding-top: 10%;
        margin: 5% 1%;
        padding: 0px;
    }
}
.Our-Work p{
    font-size: 18px;
    color: rgb(128, 125, 125);
}
.item-BENCHES{
    max-width: 80%;
    display: grid;
    margin: 0px auto;
    grid-template-columns: repeat(auto-fill, 576px);
}
.item-BENCHES .item-imge{
    background-color: rgb(179, 175, 175);
    height: 250px;
    width: 576px;
    text-align: center;
    padding-top: 60px;
}
.txt{
    width: 576px;
    padding: 5% 5%;
}
.DESKS{
    max-width: 80%;
    display: grid;
    margin: 0px auto;
    grid-template-columns: repeat(auto-fill, 576px);
}
.item-DESKS{
    width: 576px;
    padding: 5% 5%;
}
.DESKS-img{
    background-color: rgb(179, 175, 175);
    height: 250px;
    width: 576px;
    text-align: center;
    padding-top: 60px;
}
.SOFAS{
    margin-bottom: 100px;
}