.about-us{
    width: 100%;
}
.aboutus{
    width: 100%;
    height: 250px;
    padding-top: 115px;
    background: #676767;
    color: white;
    text-align: center;
}
.Shortly-About-Us{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,500px);
    padding: 5% ;
    margin-left: auto;
}
.item-text{
    padding: 50px 50px 0px 50px;
}
.item-img{
    background: rgb(205, 205, 205);
    text-align: center;
    padding: 8%;
}
/* :::::::::::::::::: Debut Partners  ::::::::::::::::::::::   */
.partners{
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 20px;
        margin: 25px auto;
        padding: auto;
        justify-content: center;
        align-items: center;
}
.item{
    padding-top: 30px;
    text-align: center;
    background: rgb(205, 205, 205);
    height: 200px;
}
.headPartners{
    text-align: center;
    margin-top: 100px;
}
/* :::::::::::::::::: Debut FAG  ::::::::::::::::::::::   */
.faq{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 25px;
    margin: 25px auto;
    padding: auto;
    justify-content: center;
    align-items: center;
}
.headFaq{
    margin-top: 100px;
    text-align: center;
}

.headContacts{
    margin-top: 100px;
    text-align: center;
}
.contact{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill,500px);
    padding: 10%;
    background: rgb(241, 232, 232);
}
.colums{
    width: 100%;
    margin-left: 35%;
    color: black;
}
.colum{
    width: 100%;
    margin-left: 5%;
    width:800px ;
}
.map{
    width:480px ;
    height:400px ;
}
.logo{
    padding-left: 30px;
    text-align: start;
}