.mySwiper {
  text-align: center;
  width: 86%;
  height: 100%;
  margin: 0px auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .people{
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    width: 100%;
    height: 100%;
  }
  .people .image {
    height: 400px;
    width: auto;
    text-align: center;
  }
  .people .image img {
    padding:100px 150px;
    text-align: center;
  }
  .temoignages{
    background: rgb(226, 223, 223);
    padding-right: 15%;
  }
  .temoignages .head{
    padding-top: 50px;
  }
  .temoignages p{
    text-align: center;
    margin:  0px 1%;
  }
  .temoignages hr{
    margin-left: 250px;
    width: 120px;
    color: #000;
    border: 1px solid black;
  }