/* :::::::::::::::::: Debut Navbar  ::::::::::::::::::::::   */

nav{
    height: 100px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.menu{
    width: 100%;
    list-style-type: none;
    background: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.2rem;
}
.items{
    margin-right: 5%;
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer; 
}
.items:hover{
    color: gray;
}
.logo{
    color: black;
    justify-self: start;
    margin-right: 8%;
    cursor: pointer;
}
nav .btn{
    display: none;
}
/* ::::::::::::::::::  Responsive  ::::::::::::::::::::::   */
@media screen and  (max-width:400px) {
    .home{
        width: 100%;
    }
    .carousel{
        width: 400px;
        height: 500px;
        margin: 0px;
        justify-content: center;
        align-items: center;
        background: #676767;
    }
    .b {
        width: 400px;
        margin: 0px;
      }
    .carousel-inner{
        margin: 0px;
        padding: 0px;
    }
    .carousel-item{
        margin: 0px;
        padding: 0px;
    } 
    .ims{
        margin: 0px;
        padding: 0px;
    }   
    .menu{
        flex-direction: column;
        height: 500px ;
        width: 100%;
        text-align: center;
        background: #f8f7f7;
    }
    .items:nth-child(1){
        margin-top: 100px ;
    }
    .items{
        height: 35px;
        width: 100%;
        border-bottom: 1px solid #333;
        line-height: 35px;
        text-align: center;
         
    }
    nav .btn{
        display: block;
        position: absolute ;
        right: 10px;
        top: 10px;
        color: #333;
        cursor: pointer; 
    }
    .logo{
        padding: 0px;
        margin: 0px;
        display: none;
    }
    .categorie-grid{
        max-width: 400px;
        height: 500px;
        grid-template-columns: repeat(auto-fill, 300px); /* creer le nombre de colums*/
    }
    .banner{
        width: 99%;
        height: auto;
        padding: 5px;
        margin-top: 100px;
        text-align: justify;
    }
    .about{
        padding: 10px;
    }
}
@media screen and  (max-width:605px) {
    .logo{
        padding: 0px;
        margin: 0px;
    }
}
/* :::::::::::::::::: Fin Navbar  ::::::::::::::::::::::   */

/* :::::::::::::::::: Debut Banner  ::::::::::::::::::::::   */
.banner{
    background: gray;
    height: 660px;
    position: relative;
    padding: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-left: 15%;
    color: white;
}
.btnAbou{
    border: solid 1px white;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    width: 120px;
    height: 50px;
    color: white;
    background: gray;
    position: absolute;
}
.btnAbou:hover{
    background-color: white;
    color:gray;
}
/* :::::::::::::::::: Fin Banner  ::::::::::::::::::::::   */

/* :::::::::::::::::: Debut Products  ::::::::::::::::::::::   */
.produits{
    max-width: 1300px;
    width: 100% ;
    height: auto;
    margin: 30px auto;
    /*border: 1px solid #333;*/
    background: white;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px); /* creer le nombre de colums*/
    justify-content: center;
    grid-gap: 20px;/* permet d'ajouter des marge entre les grid*/
}
.headProd{
    margin-top: 100px;
    text-align: center;
}
.produit{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 270px;
    padding: 5px;
    background: whitesmoke;
    font-size: 18px;
    /*background: #333;*/
}
.image {
    padding:25px 80px ;
    background-color: rgb(204, 204, 204);
    width: 290px;
    height: 170px;
}
.links{
    color: black;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
    color: #333;
}
svg{
    width: 70px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
/* :::::::::::::::::: Fin Products  ::::::::::::::::::::::   */

/* :::::::::::::::::: Debut Categorie  ::::::::::::::::::::::   */
.category{
    margin-top: 100px;
}
.headCategorie{
    font-size: 30px;
    text-align: center;
}
.categorie-grid{
    max-width: 1300px;
    width: 100% ;
    height: auto;
    margin: 20px auto;
    /*border: 1px solid #333;*/
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, 395px); /* creer le nombre de colums*/
    justify-content: center;
    grid-gap: 10px;/* permet d'ajouter des marge entre les grid*/
}
.title{
    background-color: rgb(205, 205, 205);
    width: 330px;
    height: 200px; 
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
}
.categorie{
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    padding: 10px;
    background: white;
}
.desc{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}
.button{
    margin-top: 100px;
    text-align: center;
}
.bnt-categorie{
    margin-top: 90px;
    cursor: pointer;
    background-color: white;
    width: 150px;
    height: 50px;
    border: solid 1px black;
    border-radius: 15px;
}
.bnt-categorie:hover{
    background-color: #676767;
    color:white ;
}
/* :::::::::::::::::: Fin Categorie  ::::::::::::::::::::::   */

/* :::::::::::::::::: Debut Production  ::::::::::::::::::::::   */
.production{
    margin-top: 100px;
}
.head-production{
    margin-bottom: 100px;
    text-align: center;
}
.productions{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;
    /*border: 1px solid #333;*/
    background: white;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); /* creer le nombre de colums*/
    justify-content: center;
    grid-gap: 15px;/* permet d'ajouter des marge entre les grid*/
}
.grid-item{
    background-color: rgb(204, 204, 204);
    width: 170px;
    height: 110px; 
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

/* :::::::::::::::::: Debut Projects  ::::::::::::::::::::::   */
.b {
    width: 60%;
    margin: 0px 20%;
  }
.Titres{
    text-align: center;
  }
.headProjecs{
    text-align: center;
}
.carousel{
    width: 80%;
    height: 500px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    background: #676767;
}
.carousel-item{
    justify-content: center;
    align-items: center;
    width: 128px;
}
.carousel-inner{
    width: 40%;
    margin-top: 5%;
    padding: 30%;
    justify-content: center;
    align-items: center;
    
}
.carousel-caption{
    text-align: center;
}
h5{
    color: black;
}
.ims{
    margin-right:0px;
    padding-right:0px;
}
/* :::::::::::::::::: Debut Download  ::::::::::::::::::::::   */
.Download{
    text-align: center;
    margin-top: 100px;
    height: 250px;
    background: #676767;
}
.down{
    padding-top: 70px;
    color: white;
}
.load{
    margin-top: 50px;
    padding: 10px 25px;
    color: aliceblue;
    background: #676767;
    border: 1px solid white;
    border-radius: 10px;
}
.load:hover{
    background-color: white;
    color: #676767;
}
/* :::::::::::::::::: Debut About US  ::::::::::::::::::::::   */
.about{
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    padding: 15%;
}
.image-about{
    height: 400px;
    margin: 1%;
    background:rgb(204, 204, 204);
}
.p{

    margin:1%;
    text-align: justify; 
}
.btnAbout{
    margin-top: 50px;
    padding: 5px 10px;
    color:#676767;
    background-color: white;
    border:2px solid #676767;
}
.btnAbout:hover{
    background-color: #676767;
}
/* :::::::::::::::::: Debut Offer  ::::::::::::::::::::::   */
.Offer{
    text-align: center;
    margin: 70px;
}
.Offer .pp{
    margin: 0% 5px;
    
}
.offer{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;
    /*border: 1px solid #333;*/
    background: white;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px); /* creer le nombre de colums*/
    justify-content: center;
    grid-gap: 15px;/* permet d'ajouter des marge entre les grid*/
}
.card{
    width: 300px;
    height: 200px;
    align-items: center;
}
.img{
    width: 100px;
    height: 80px;
    
}
.imge{
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
/* :::::::::::::::::: Debut Newsletter  ::::::::::::::::::::::   */
.news{
    
    margin-top: 100px;
    background:#676767;
    height: 300px;
}
.txt-news{
    padding-top: 60px;
    color:white;
    font-size: 28px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.input-group{
    height: 60px;
    padding: 0px 15%;
    margin: 10px auto;
}
.inpu{
    width:100px;
}
.btn{
    border: #333 ;
    width: 120px;
    color: white;
    background: #676767;
}
/* :::::::::::::::::: Debut Innovations  ::::::::::::::::::::::   */
.innovations{
    text-align: center;
    margin-top: 100px;
}
/* :::::::::::::::::: Debut Innovations  ::::::::::::::::::::::   */
.peoples{
    margin-top: 150px;
}
/* :::::::::::::::::: Debut Latest News  ::::::::::::::::::::::   */
.latest-news{
    margin-top: 100px;
    text-align: center;
}
.categoriee{
    width: 330px;
    height: auto; 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.bnt-latest{
    margin-top: 0px;
    cursor: pointer;
    background-color: white;
    width: 150px;
    height: 50px;
    border: solid 1px black;
    border-radius: 15px;
}
.bnt-latest:hover{
    background-color: #676767;
    color:white ;
}
/* :::::::::::::::::: Debut Formulaire  ::::::::::::::::::::::   */
.forms{
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    background: #676767;
    height: auto;
    justify-content: center;
    align-items: center;
}
.form{
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background: white;
    width: 395px;
    height: auto;
    margin: 40px auto;
    padding: 100px auto;
}
.form-control-input{
    border-radius: 10px;
    background: rgb(204, 204, 204);
    width: 350px;
    height: 50px;
    margin: 20px auto;
}
.form-control-textarea{
    border: none;
    border-radius: 10px;
    background: rgb(204, 204, 204);
    width: 350px;
    height: 150px;
}
.form-control-btn{
    border-radius: 10px;
    color: white;
    background: #676767;
    width: 350px;
    height: 50px;
    margin: 20px auto;
}
.form-label{
    margin: 30px 10px ;
    text-align: center;
    font-size: 25px;
    color: #676767;
}
/* :::::::::::::::::: Debut Formulaire  ::::::::::::::::::::::   */
.footer{
    background: rgb(216, 216, 216);
    height: auto;
    width: 100%;
    padding: 50px 100px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 240px);
    display: flex;
}
.tag{
    padding: 5px;
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.all{
    color: #676767;
    padding-top: 100px;
}
.social-link{
    width: 30px;
    padding: 5px;
    cursor: pointer;
}
.social-link:hover{
    background-color: #676767;
}
/* :::::::::::::::::: Debut Card slide  ::::::::::::::::::::::   */
.Cardslide{ 
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Cardslide .cardslide .image-card{
    height: 200px;
    width: 100%;
    padding: 5px;
    background: rgb(205, 205, 205);
    box-sizing: border-box;
    text-align: center;
    padding-top: 30px;
}
.image-card img{
    width: auto;
}
.cardslide{
    background: #fff  ;
    border-radius: 10px;
}
.cardslide .card-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.describe{
    padding: 20px 5px;
}

.swiper {
  margin: 0px auto;
  width: 86%;
  height: 100%;
}

.swiper-slide {
  text-align: justify;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
  padding-left: 90px;
}
